ul {
    margin-top: 0;
}

body {
    font-family: tahoma, serif;
    font-size: 90%;
    margin: 0;
    padding: 0;
}

.normal-padding {
    padding-left: 1em;
    padding-right: 1em;
}

.mono-text {
    font-family: courier, monospace;
    font-size: 90%;
}

.CodeMirror {
    border: none;
    border-bottom: 2px solid #aeaeae;
    height: 150px;
    padding: 10px;
}

.result-value {
    font-family: courier, monospace;
    font-size: 90%;

    unicode-bidi: embed;
    white-space: pre;

}

.null-text {
    color: #C0C0C0;
}

.border-error {
    border: 1px solid red;
}

.mono-error {
    color: red;
    font-family: courier, monospace;
    /* Menlo, Monaco, Consolas, 'Lucida Console', courier, monospace */
    font-size: 90%;
}

input, textarea {
    margin: 0;
    background-color: transparent;
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    /*border: 1px solid #C0C0C0;*/
    border: none;
    border-bottom: 1px solid #c0c0c0;
}

select {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #c0c0c0;
}

.count_up {
    font-weight: bold;
}

.count_stable_zero {
    color: grey;
}

.count_down {
    font-weight: bold;
}

.result {
    border-collapse: collapse;
}

.result td, .result th {
    border: 1px solid #C0C0C0;
    padding: 8px;
}

.result tr:hover {
    background-color: #E8E8E8;
}

tr.selected {
    background-color: #E0E0E0;
}

.button-dock {
    overflow: auto;
    margin-left: -0.3em;
}

.button {
    padding: 0.3em;
    display: block;
    float: left;
    text-decoration: none;
}

.selected-button {
    padding: 0.3em;
    display: block;
    float: left;

    background-color: #B7B7B7;
    color: white;
    text-decoration: none;
}

.fixed {
    background: white;
    top: 0;
    position: fixed;
    display: none;
    border: none;
}

#autocompete {
    margin-left: -0.3em;
}

#autocompete a {
    display: inline-block;
    padding: 0.3em;
}

a {
    color: black;
    outline: none;
    /*text-decoration: none;*/
}