ul {
    margin-top: 0;
}

body {
    font-family: tahoma, serif;
    font-size: 90%;
    margin: 0;
    padding: 0;
}

.mono-text {
    font-family: courier, monospace;
    font-size: 90%;
}

.mono-error {
    color: red;
    font-family: courier, monospace;
    /* Menlo, Monaco, Consolas, 'Lucida Console', courier, monospace */
    font-size: 90%;
}

input, textarea {
    margin: 0;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #C0C0C0;
}

.count_up {
    font-weight: bold;
}

.count_stable_zero {
    color: grey;
}

.count_down {
    font-weight: bold;
}

#recent {
    list-style: none;
    padding: 0;
}

#recent li {
    margin: 0;
    padding: 0;
}

#gigaspaces {
    list-style: none;
    padding: 0;
}

#gigaspaces li {
    margin: 0;
    padding: 0;
    display: inline;
}

.result {
    border-collapse: collapse;
}

.result td, .result th {
    border: 1px solid #C0C0C0;
    padding: 8px;
}

.result tr:hover {
    background-color: #E8E8E8;
}

tr.selected {
    background-color: #E0E0E0;
}