<!DOCTYPE html>
<html ng-app="App" ng-controller="controller">
<head>
    <title>GigaSpace Web Console {{ config.internal.appVersion }}</title>
    <script type="text/javascript" src="js/log.js"></script>

    <script type="text/javascript" src="js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="js/jquery-ui.min.js"></script>


    <script type="text/javascript" src="js/dropit.js"></script>

    <link href="c3-0.4.10/c3.min.css" rel="stylesheet" type="text/css">
    <script src="c3-0.4.10/d3.min.js" charset="utf-8"></script>
    <script src="c3-0.4.10/c3.min.js"></script>

    <script type="text/javascript" src="js/angular.min.js"></script>

    <script type="text/javascript" src="js/common.js"></script>
    <script type="text/javascript" src="js/fixed-header.js"></script>
    <script type="text/javascript" src="js/fix-horizontally.js"></script>
    <script type="text/javascript" src="js/query-result-table.js"></script>
    <script type="text/javascript" src="js/table-goto.js"></script>
    <script type="text/javascript" src="js/count-history-chart.js"></script>
    <script type="text/javascript" src="js/settings.js"></script>
    <script type="text/javascript" src="js/error.js"></script>
    <script type="text/javascript" src="js/engine.js"></script>
    <script type="text/javascript" src="js/types.js"></script>

    <script type="text/javascript" src="js/codemirror.js"></script>
    <script type="text/javascript" src="js/ui-codemirror.min.js"></script>
    <script type="text/javascript" src="js/codemirror/mode/sql.js"></script>
    <script type="text/javascript" src="js/codemirror/addon/hint/show-hint.js"></script>
    <script type="text/javascript" src="js/codemirror/addon/hint/sql-hint.js"></script>
    <script type="text/javascript" src="js/codemirror/addon/placeholder.js"></script>

    <link rel="stylesheet" href="css/codemirror.css">
    <link rel="stylesheet" href="css/jquery-ui.min.css">
    <link rel="stylesheet" href="js/codemirror/addon/hint/show-hint.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="fix-horizontally">
    <div style="overflow: auto; padding-left: 1em; padding-right: 1em; padding-top: 0.5em; padding-bottom: 0.5em; background-color: #434343; color: white;">
        <div ng-repeat="link in config.user.links" style="float: left;">
            <a style="color: white;" href="{{ link.url }}">{{ link.name }}</a>&nbsp;
        </div>

        <div style="float: right;">
            <a style="color: white;" target="_blank" href="https://github.com/terma/gigaspace-web-console/blob/master/README.md">Help</a>
        </div>
    </div>
</div>

<div class="fix-horizontally">
    <div style="padding-left: 1em; padding-right: 1em; padding-top: 0.5em; background-color: #f7f7f7;">
    <div class="button-dock" style="padding-bottom: 0.5em;">
        <a ng-repeat="gigaspace in config.user.gigaspaces"
           ng-class="context.selectedGigaspace.name == gigaspace.name ? 'selected-button' : 'button'"
           ng-click="selectGigaspace(gigaspace)" href="javascript:void(0);">{{ gigaspace.name }}</a>
    </div>

    <input placeholder="GigaSpace URL" ng-model="context.selectedGigaspace.url" style="width: 100%;"
           class="mono-text connection"/>

    <div style="float: right; padding-top: 5px;" ng-show="config.user.drivers.length > 1">
        <select class="mono-text connection" ng-model="request.driver">
            <option ng-repeat="driver in config.user.drivers" value="{{ driver.name }}"
                    ng-selected="context.selectedGigaspace.driver == driver.name">
                {{ driver.name }}
            </option>
        </select>
    </div>

    <input style="padding-top: 5px;" ng-model="context.selectedGigaspace.user" class="mono-text connection" placeholder="User"/>
    <input style="padding-top: 5px;" type="password" ng-model="context.selectedGigaspace.password" class="mono-text connection source"
           placeholder="Password"/>

    <div class="button-dock" style="margin-top: 10px; color: white;">
        <!--<a href="javascript:void(0);" ng-click="openAdminTab()"-->
        <!--ng-class="context.selectedGigaspace.selectedTab == 'admin' ? 'selected-button' : 'button'">Admin</a>-->
        <a href="javascript:void(0);" ng-click="openExportImportTab()"
           ng-class="context.selectedGigaspace.selectedTab == 'exportImport' ? 'selected-button' : 'button'">Export/Import</a>
        <a href="javascript:void(0);" ng-click="openCopyTab()"
           ng-class="context.selectedGigaspace.selectedTab == 'copy' ? 'selected-button' : 'button'">Copy</a>
        <a href="javascript:void(0);" ng-click="openTypesTab()"
           ng-class="context.selectedGigaspace.selectedTab == 'types' ? 'selected-button' : 'button'">Types</a>
        <a href="javascript:void(0);" ng-click="openQueryTab()"
           ng-class="context.selectedGigaspace.selectedTab == 'query' ? 'selected-button' : 'button'">Query</a>

        <a ng-show="config.user.templates.length > 0 && context.selectedGigaspace.selectedTab == 'query'"
           ng-click="toggleTemplates();" style="float: right; padding-top: 0.3em; padding-bottom: 0.3em;"
           href="javascript:void(0);">Templates</a>
    </div>
</div>
</div>

<div>
    <div ng-if="showTemplates" style="padding-bottom: 0.5em;">
        <a ng-repeat="template in ::config.user.templates | orderBy: 'name'"
           href="javascript:void(0);" ng-click="useTemplate(template)"
                style="margin-right: 0.3em;">{{ ::template.name }}</a>
    </div>

    <div ng-show="context.selectedGigaspace.selectedTab == 'exportImport'" class="normal-padding">
        <p></p>

        Export

        <p></p>

        <textarea ng-model="context.selectedGigaspace.exportImportTab.types"
                  style="width: 100%" rows="6" class="mono-text"
                  placeholder="Keep empty to export all or put types names separated by ,"></textarea>

        <p></p>

        <a href="javascript:void(0);" ng-click="export()">Export</a>

        <p></p>

        Import

        <p></p>

        <form method="post" action="import" enctype="multipart/form-data" ng-submit="startImport()">
            <input type="hidden" id="import-json" name="json">

            <label>
                Select exported before file (ser or zip with ser)<p></p>
                <input type="file" name="file">

                <input type="submit" name="Import">
            </label>
        </form>
    </div>

    <div ng-show="context.selectedGigaspace.selectedTab == 'copy'" class="normal-padding"Update>
        <p></p>

        Target Space

        <p></p>

        <div class="button-dock">
            <a ng-repeat="gigaspace in config.user.gigaspaces"
               ng-class="context.selectedGigaspace.copyTab.targetName == gigaspace.name ? 'selected-button' : 'button'"
               ng-click="selectTargetGigaspace(gigaspace)" style="text-decoration: underline;" href="javascript:void(0);">{{ gigaspace.name }}</a>
        </div>

        <input placeholder="Target GigaSpace URL" ng-model="context.selectedGigaspace.copyTab.targetUrl"
               style="width: 100%;"
               class="mono-text connection"/>

        <p></p>
        <input ng-model="context.selectedGigaspace.copyTab.targetUser" class="mono-text connection"
               placeholder="Target User"/>
        <input type="password" ng-model="context.selectedGigaspace.copyTab.targetPassword" class="mono-text connection"
               placeholder="Target Password"/>

        <p></p>

        <textarea ng-model="context.selectedGigaspace.copyTab.content" class="mono-text"
                  style="width: 100%" rows="6"
                  placeholder="Example: copy spaceTypeName [reset list of fields by ,] [from <number from 0>] [only <count>] [where conditions]"></textarea>

        <p></p>

        <a href="javascript:void(0);" ng-click="executeCopy()">Copy</a>

        <div ng-show="context.selectedGigaspace.copyTab.status">
            <p></p>

            {{ context.selectedGigaspace.copyTab.status }}
        </div>

        <div er-error="context.selectedGigaspace.copyTab.error"></div>

        <div ng-repeat="query in context.selectedGigaspace.copyTab.queries">

            <h4>Copying for {{ query.sql }}</h4>

            <div er-error="query.error"></div>

            <p ng-show="query.status">{{ query.status }}</p>

            <span ng-show="query.count != undefined">
                Was copied {{ query.count }}
                <ng-switch on="query.count">
                    <span ng-switch-when="1">document</span>
                    <span ng-switch-default>documents</span>
                </ng-switch>
            </span>
        </div>
    </div>
    <div ng-show="context.selectedGigaspace.selectedTab == 'types'" class="normal-padding"
         ng-include="'types.html'"></div>

    <div ng-show="context.selectedGigaspace.selectedTab == 'query'">
        <div class="fix-horizontally">
            <ui-codemirror ui-codemirror-opts="editorOptions"
                           ng-model="context.selectedGigaspace.queryTab.selectedEditor.content"
                           class="mono-text"></ui-codemirror>
        </div>

        <!--<div>-->
            <div class="fix-horizontally">
                <div class="normal-padding">
                    <div id="autocompete">
                        <a ng-repeat="item in autocomplete | filter : autocompletePattern | orderBy : '+' | limitTo : 10" href="javascript:void(0);" ng-click="injectAutocomplete(item)">{{ ::item }}</a>
                    </div>
                    <p/>

                    <a ng-click="executeQuery()" href="javascript:void(0);">Execute</a>
                    <a ng-click="executeToCsv()" href="javascript:void(0);">To CSV</a>

                    <p ng-show="context.selectedGigaspace.queryTab.selectedEditor.status">
                        {{ context.selectedGigaspace.queryTab.selectedEditor.status }}
                    </p>
                </div>
            </div>

            <div class="query" ng-repeat="query in context.selectedGigaspace.queryTab.selectedEditor.queries">
                <div class="fix-horizontally">
                    <h4 class="normal-padding">Results {{ query.data.data.length }} for {{ query.sql }}</h4>
                </div>

                <div er-error="query.error" class="normal-padding"></div>

                <div class="fix-horizontally">
                    <p ng-show="query.status" class="normal-padding">{{ query.status }}</p>

                    <div ng-if="query.data" class="normal-padding table-goto-target">
                        <a href="javascript:void(0);" ng-click="toggleShowAllText(query)">Show/Hide all text</a>
                    </div>
                </div>

                <p/>

                <div class="normal-padding">
                    <query-result-table qrt-model="query.data"
                                        qrt-show-all-text="query.data.showAllText"
                                        qrt-column-is-timestamp="queryColumnIsTimestamp"
                                        qrt-column-to-timestamp="queryColumnToTimestamp"></query-result-table>
                </div>
            </div>
        <!--</div>-->
    </div>
</div>

</body>
</html>

