<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <listener>
        <listener-class>com.github.terma.gigaspacewebconsole.server.ContextListener</listener-class>
    </listener>

    <filter>
        <filter-name>NoCacheFilter</filter-name>
        <filter-class>com.github.terma.gigaspacewebconsole.server.NoCacheFilter</filter-class>
    </filter>

    <servlet>
        <servlet-name>ConfigServlet</servlet-name>
        <servlet-class>com.github.terma.gigaspacewebconsole.server.ConfigAndAppVersionServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ExplorerServlet</servlet-name>
        <servlet-class>com.github.terma.gigaspacewebconsole.server.ExplorerServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ExecuteServlet</servlet-name>
        <servlet-class>com.github.terma.gigaspacewebconsole.server.ExecuteServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>GroovyExecuteServlet</servlet-name>
        <servlet-class>com.github.terma.gigaspacewebconsole.server.GroovyExecuteServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>GroovyExecuteToCsvServlet</servlet-name>
        <servlet-class>com.github.terma.gigaspacewebconsole.server.GroovyExecuteToCsvServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ExecuteToCsvServlet</servlet-name>
        <servlet-class>com.github.terma.gigaspacewebconsole.server.ExecuteToCsvServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CountsServlet</servlet-name>
        <servlet-class>com.github.terma.gigaspacewebconsole.server.CountsServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CopyServlet</servlet-name>
        <servlet-class>com.github.terma.gigaspacewebconsole.server.CopyServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ExportServlet</servlet-name>
        <servlet-class>com.github.terma.gigaspacewebconsole.server.ExportServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ImportServlet</servlet-name>
        <servlet-class>com.github.terma.gigaspacewebconsole.server.ImportServlet</servlet-class>
    </servlet>

    <filter-mapping>
        <filter-name>NoCacheFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet-mapping>
        <servlet-name>ConfigServlet</servlet-name>
        <url-pattern>/config</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ExplorerServlet</servlet-name>
        <url-pattern>/explore</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ExecuteServlet</servlet-name>
        <url-pattern>/execute</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GroovyExecuteServlet</servlet-name>
        <url-pattern>/groovy-execute</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GroovyExecuteToCsvServlet</servlet-name>
        <url-pattern>/groovy-execute-to-csv</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ExecuteToCsvServlet</servlet-name>
        <url-pattern>/execute-to-csv</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CountsServlet</servlet-name>
        <url-pattern>/counts</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CopyServlet</servlet-name>
        <url-pattern>/copy</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ExportServlet</servlet-name>
        <url-pattern>/export</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ImportServlet</servlet-name>
        <url-pattern>/import</url-pattern>
    </servlet-mapping>

</web-app>